html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #ededed;
    font-family: 'Fira Sans', sans-serif; 
}

.wrapper {
    padding: 1.5em;
    border-radius: 2px;
    width: calc(80% - 1.5em); 
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.title {
    margin-bottom: 10px;
    animation: simpleAnimation .5s forwards .3s ease;
}


/*
 * introduction to animations with keyframes in css
 *
 */

.badge {
    color: #fff;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 10rem;
    vertical-align: baseline;
    background-color: #007bff;
    /* animation: simpleAnimation .5s forwards .3s ease; */
}

@keyframes simpleAnimation {
    0% {
        transform: rotate(0) translate(-30px);
        opacity: 0;
    }

    50% {
        transform: rotate(0) translate(-10px);
        opacity: 0;
    }

    100% {
        transform: rotate(0) translate(0);
        opacity: 1;
    }
}